/* App.css */
.app {
    display: flex;
  }
  
  /* Sidebar.css */
  .sidebar {
    height: 100vh;
    width: 250px;
    background-color: #333;
    padding-top: 20px;
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .sidebar ul li {
    padding: 10px;
    text-align: center;
  }
  
  .sidebar ul li a {
    color: white;
    text-decoration: none;
    display: block;
  }
  
  .sidebar ul li a:hover {
    background-color: #555;
  }
  /* Content.css */
.content {
    flex: 1;
    padding: 20px;
  }
  